In [2]:
import pandas as pd

In [3]:
# Read the CSV file into a DataFrame
df = pd.read_csv('hotel_booking.csv')

In [4]:
# Display the first few rows of the DataFrame
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,BB,PRT,Direct,Direct,0,0,0,C,C,3
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,BB,PRT,Direct,Direct,0,0,0,C,C,4
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,BB,GBR,Direct,Direct,0,0,0,A,C,0
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,BB,GBR,Corporate,Corporate,0,0,0,A,A,0
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0

<h1>Gets the count of unique arrival_date_month values where 'is_canceled' is 0</h1>

In [15]:

column_name = 'arrival_date_month'

# Filter to include only rows where 'is_canceled' is 0
filtered_df = df[df['is_canceled'] == 0]

# Get count of unique arrival_date_month values
column_count = filtered_df[column_name].value_counts()

print(f"Count of '{column_name}' column: {column_count}")

Count of 'arrival_date_month' column: arrival_date_month
August       8638
July         7919
May          7114
October      6914
March        6645
April        6565
June         6404
September    6392
February     5372
November     4672
December     4409
January      4122
Name: count, dtype: int64

In [ ]:

# Perform the count of unique arrival_date_month values
unique_month_counts = filtered_df['arrival_date_month'].value_counts()

# Create a DataFrame from the unique_month_counts series
result_df = pd.DataFrame({'arrival_date_month': unique_month_counts.index, 'count': unique_month_counts.values})

# Define the path for the new CSV file
output_file = 'unique_month_counts_not_canceled.csv'

# Save the result DataFrame to a new CSV file
result_df.to_csv(output_file, index=False)

print(f"Saved the results to '{output_file}'.")

<h1>Gets the count of unique arrival_date_month values where 'is_canceled' is 1</h1>

In [10]:

# Filter to include only rows where 'is_canceled' is 1
filtered_df = df[df['is_canceled'] == 1]

# Get count of unique arrival_date_month values
column_count = filtered_df[column_name].value_counts()

print(f"Count of '{column_name}' column: {column_count}")

Count of 'arrival_date_month' column: arrival_date_month
August       5239
July         4742
May          4677
June         4535
April        4524
October      4246
September    4116
March        3149
February     2696
December     2371
November     2122
January      1807
Name: count, dtype: int64

In [ ]:
# Perform the count of unique arrival_date_month values
unique_month_counts = filtered_df['arrival_date_month'].value_counts()

# Create a DataFrame from the unique_month_counts series
result_df = pd.DataFrame({'arrival_date_month': unique_month_counts.index, 'count': unique_month_counts.values})

# Define the path for the new CSV file
output_file = 'unique_month_counts_canceled.csv'

# Save the result DataFrame to a new CSV file
result_df.to_csv(output_file, index=False)

print(f"Saved the results to '{output_file}'.")

<h1>Gets the count of unique arrival_date_month values</h1>

In [11]:

# Replace 'your_column_name' with the name of the column you want to count
column_name = 'arrival_date_month'

# Get the count of non-null values in the specified column
column_count = df[column_name].value_counts()

print(f"Count of '{column_name}' column: {column_count}")

Count of 'arrival_date_month' column: arrival_date_month
August       13877
July         12661
May          11791
October      11160
April        11089
June         10939
September    10508
March         9794
February      8068
November      6794
December      6780
January       5929
Name: count, dtype: int64